@import 'src/theme/variables.scss';

.form-content {
  --ion-background-color: #000;
}

.custom-toolbar {
  --background: rgba(255, 255, 255, 0.05);
  --color: var(--ion-color-light);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.form-container {
  padding: 20px;
}

input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--ion-color-light);
  font-size: inherit;
  outline: none;
  padding: 0;
}

ion-button {
  margin-top: 10px;
}
