<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="assets/logo/header-logo.svg" alt="Big Friday">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
<!--  <app-carousel [slides]="slides"></app-carousel>-->
  <img src="assets/images/concert.jpg" alt="Concert">

  <div class="home-content__main-message">
    <h2 >Make Every Friday Big!</h2>
    <p class="home-content__main-message_text">Find friends, join events, and enjoy.</p>
  </div>

  <div class="home-content__mission-statement">
    <p>Big Friday is all about organizing your free time...</p>

  </div>

  <div class="home-content__button-container">
    <ion-button class="home-content__button" expand="block" routerLink="/active-pastime">Active</ion-button>
    <ion-button class="home-content__button home-content__button--hover" expand="block" routerLink="/passive-pastime">Passive</ion-button>
  </div>

</ion-content>
