.header-toolbar {
  --background: #000000;
  --color: #f4f5f8; /* Черный текст */
}

.home-content {

  --background: #000000; /* Темный фон */
  --color: #f4f5f8; /* Светлый текст */

  &__main-message {
    text-align: center;
    padding: 10px;
    &_text {
      color: #e25f20
    }
  }

  &__mission-statement {
    text-align: center;
  }

  &__button-container {
    padding: 0 20px;
    display: flex;
    justify-content: center;
  }

  &__button {
    margin: 0 20px;
    padding: 0 5px;
    border-radius: 20px;
    transition: all 0.3s ease;
    --background: #ff4500;
    --color: #fff;

    &:hover {
      transform: scale(1.05);
      --background: #ff6347;
    }
  }
}
