@import 'src/theme/variables.scss';

.form-content {
  --ion-background-color: #000;
}

.custom-toolbar {
  --background: rgba(255, 255, 255, 0.05);
  --color: var(--ion-color-light);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.form-container {
  padding: 20px;
}

input, ion-textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--ion-color-light);
  font-size: inherit;
  outline: none;
  padding: 0;
}

.intro-text {
  font-weight: 500;
  margin: 20px;
  color: var(--ion-color-light);
  text-align: center;
  line-height: 1.4;
}

.submit-btn {
  margin-top: 20px;
}

.error-message {
  color: var(--ion-color-primary);
  font-size: 0.8em;
  margin-top: 5px;
}
