<ion-content class="form-content">
  <ion-content class="form-container">
    <p class="intro-text">
      In just a few taps, shape your ideal Big Friday! Indicate your interests, and we'll find events that will thrill you.
    </p>

    <form [formGroup]="preferencesForm" (ngSubmit)="submitPreferences()">
      <ng-container *ngFor="let field of formFieldsMap">
        <ion-item lines="none" class="form-item">
          <ion-icon [name]="field.icon" slot="start" color="primary"></ion-icon>
          <ng-container *ngIf="field.type === 'input' || field.type === 'password'" >
            <ion-input [placeholder]="field.placeholder" [formControlName]="field.controlName" [type]="field.type"></ion-input>
          </ng-container>
          <ng-container *ngIf="field.type === 'textarea'">
            <ion-textarea [placeholder]="field.placeholder" [formControlName]="field.controlName"></ion-textarea>
          </ng-container>
          <ng-container *ngIf="field.type === 'select'">
            <ion-select [formControlName]="field.controlName" [placeholder]="field.placeholder" [multiple]="field.multiple">
              <ion-select-option *ngFor="let option of field.options" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ng-container>

          <ng-container *ngIf="preferencesForm.controls[field.controlName].invalid && preferencesForm.controls[field.controlName].touched">
            <div class="error-message">
              <div *ngIf="field.controlName === 'email' && preferencesForm.controls[field.controlName].errors?.['email']">
                Please enter a valid email.
              </div>
              <div *ngIf="field.controlName === 'password' && preferencesForm.controls[field.controlName].errors?.['minLength']">
                Password should be at least 6 characters.
              </div>
              <div *ngIf="field.controlName === 'confirmPassword' && preferencesForm.errors?.['mismatch']">
                Passwords do not match.
              </div>
              <div *ngIf="preferencesForm.controls[field.controlName].errors?.['required']">
                {{ field.placeholder }} is required.
              </div>
            </div>

          </ng-container>
        </ion-item>
      </ng-container>
      <div>
        <ion-button expand="block" type="submit" [disabled]="!preferencesForm.valid" class="single-btn align-block-center">Submit</ion-button>
      </div>
    </form>
  </ion-content>
</ion-content>
