<ion-content class="form-content">
  <app-page-header pageTitle="Your dashboard" backRedirectionLink="/home"></app-page-header>

  <ion-content class="form-container">
    <p class="intro-text">
      Update your dashboard information to get a personalized experience.
    </p>

    <div class="avatar-section">
      <ion-avatar>
        <img src="assets/images/avatar.jpg">
      </ion-avatar>
    </div>

    <form *ngIf="profileForm" [formGroup]="profileForm">
      <ion-list>
        <ng-container *ngFor="let field of formFieldsMap">
          <ion-item lines="none" class="form-item">
            <ion-icon [name]="field['icon']" slot="start" color="primary"></ion-icon>

            <ion-input #fieldInput appOverflowCheck
                       [readonly]="!field.isEditing"
                       [placeholder]="field.placeholder"
                       [formControlName]="field.controlName">
            </ion-input>
            <ion-icon *ngIf="field.isOverflowing && !isEditing" class="ellipsis-icon" name="ellipsis-horizontal" (click)="showFullText($event, profileForm.get(field.controlName).value)"></ion-icon>
            <ion-icon [class.active]="field.isEditing" name="pencil-outline" class="pencil-icon" slot="end" (click)="toggleFieldEdit(field)"></ion-icon>

          </ion-item>
        </ng-container>
      </ion-list>

      <ion-button expand="block" class="single-btn align-block-center" (click)="saveProfile()" [disabled]="!formEdited">
        Save
      </ion-button>
    </form>
  </ion-content>
</ion-content>
