<ion-content class="form-content">
  <app-page-header pageTitle="Your profile" backRedirectionLink="/home"></app-page-header>

  <ion-content class="form-container">
    <p class="intro-text">
      Update your profile information to get a personalized experience.
    </p>

    <div class="avatar-section">
      <ion-avatar>
        <img src="assets/images/avatar.jpg">
      </ion-avatar>
    </div>

    <form *ngIf="profileForm" [formGroup]="profileForm" (ngSubmit)="submitProfile()">
      <ion-list>
        <ng-container *ngFor="let field of formFieldsMap">
          <ion-item lines="none" class="form-item">
            <ion-icon [name]="field['icon']" slot="start" color="primary"></ion-icon>

            <ion-input [readonly]="!field.isEditing" [placeholder]="field.placeholder"  [formControlName]="field.controlName"></ion-input>

            <ion-icon name="pencil-outline" slot="end" (click)="toggleFieldEdit(field)"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-list>

      <ion-button expand="block" class="single-btn align-block-center" (click)="saveProfile()">
        Save
      </ion-button>
    </form>

    <ion-list-header>
      Upcoming Events
    </ion-list-header>
    <ion-list>

    </ion-list>


    <ion-list-header>
      Past Events
    </ion-list-header>
    <ion-list>

    </ion-list>


    <ion-button expand="block" color="danger" class="single-btn">
      Log Out
    </ion-button>
  </ion-content>
</ion-content>
