<app-page-header [pageTitle]="chatName" backRedirectionLink="/chats"></app-page-header>
<ion-content [fullscreen]="true" class="chat-content">
  <ion-list>
    <ng-container *ngFor="let item of processedMessages">
      <div *ngIf="isString(item)" class="date-separator">{{ item }}</div>
      <app-chat-box [message]="item" [currentUserId]="currentUserId"></app-chat-box>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-textarea autoGrow="true" rows="1" placeholder="Type your message" [(ngModel)]="message">
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()">
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
