@import 'src/theme/variables.scss';


ion-footer {
  ion-toolbar {
    --background: #d7d8da;
    --border-top: 1px solid var(--ion-color-dark);
    --color: var(--ion-color-primary);
    --padding-end: 5px;
    --padding-start: 5px;
  }

  ion-textarea {
    --color: var(--ion-color-dark);
    border-radius: 20px;
    padding: 5px 10px;
  }
}
