<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="secondary-color" defaultHref="/events"></ion-back-button>
    </ion-buttons>
    <ion-title class="secondary-color">My Chats</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [value]="segment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="status">
      <ion-label>Status</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chats">
      <ion-label>Chats</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calls">
      <ion-label>Calls</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" class="chat-content">
  <ion-list *ngIf="segment === 'chats'">
    <ion-list-header class="chat-content__list-header">
      <p>Recent Chats</p>
    </ion-list-header>
    <ion-item *ngFor="let item of chatRooms" (click)="getChat(item.id)" detail="true" class="chat-content__list-item">
      <ion-avatar slot="start">
        <img [src]="item.photo" alt="">
      </ion-avatar>
      <ion-label class="chat-content__list-item__label">
        {{item.name}}
        <p class="message">
          <ion-text >
            message
          </ion-text>
        </p>
      </ion-label>
      <ion-text class="chat-content__list-text" slot="end" color="medium">10:00AM</ion-text>
    </ion-item>
  </ion-list>
</ion-content>

