<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="secondary-color" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="secondary-color">My Chats</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="chat-content">
  <ion-list>
    <ion-item *ngFor="let item of chatRooms" (click)="getChat(item.id)" detail="true" class="chat-content__list-item">
      <ion-avatar slot="start">
        <img [src]="item.details?.image || '../../../assets/images/bowling.jpg'" alt="">
      </ion-avatar>
      <ion-label class="chat-content__list-item__label">
        {{item.details?.name}}
        <p *ngIf="item.lastMessage" class="message">
          <ion-text>
            {{item.lastMessage.senderName}}: {{item.lastMessage.text}}
          </ion-text>
        </p>
      </ion-label>
      <ion-text class="chat-content__list-text" slot="end" color="medium">10:00AM</ion-text>
      <ion-badge *ngIf="item.unreadMessagesCount" color="danger">{{ item.unreadMessagesCount }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

