ion-list {
  --background: var(--ion-color-dark);
  --ion-item-background: var(--ion-color-dark);
  --ion-color-base: var(--ion-color-secondary-contrast);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

ion-item {
  --color: var(--ion-color-light);
  --padding-start: 20px;
  --padding-end: 20px;
  --min-height: 50px;
  &:hover {
    --background: var(--ion-color-dark-shade);
  }
}

ion-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
