@import 'src/theme/variables.scss';

.form-container {
  padding: 20px;
}

input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: inherit;
  outline: none;
  padding: 0;
}

.date-input {
  background-color: transparent;
  border-bottom: 2px solid #888;
  width: 50%;
  font-size: 16px;
  position: relative;
  padding-left: 10px;
}

.date-time-input {
  margin-left: -15px
}
