<ion-content class="form-content">
  <ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="dismissModal()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Create {{category | titlecase}} Event</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="form-container">
    <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
      <ng-container *ngFor="let field of formFieldsMap">
        <ion-item lines="none" class="form-item">
          <ion-icon [name]="field.icon" slot="start" color="primary"></ion-icon>
          <ng-container *ngIf="field.type === 'input'">
            <ion-input [placeholder]="field.placeholder" [formControlName]="field.controlName"></ion-input>
          </ng-container>
          <ng-container *ngIf="field.type === 'textarea'">
            <ion-textarea [placeholder]="field.placeholder" [formControlName]="field.controlName"></ion-textarea>
          </ng-container>
          <ng-container *ngIf="field.type === 'datetime'">
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
          </ng-container>
          <ng-container *ngIf="field.type === 'select'">
            <ion-select [formControlName]="field.controlName" [placeholder]="field.placeholder" [multiple]="field.multiple">
              <ion-select-option *ngFor="let option of field.options" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ng-container>
        </ion-item>
      </ng-container>
      <div>
        <ion-button expand="block" type="submit" [disabled]="!eventForm.valid" class="single-btn align-block-center">Create</ion-button>
      </div>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" formControlName="date"></ion-datetime>
        </ng-template>
      </ion-modal>
    </form>
  </ion-content>
</ion-content>



