.message-item {
  --background: lightslategrey;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s, box-shadow 0.2s;
}

.my-message {
  text-align: right;
  border-radius: 10px 0 10px 10px;
  margin: 5px 10px 5px 50px;
}

.their-message {
  --background: indianred;
  border-radius: 0 10px 10px 10px;
  margin: 5px 50px 5px 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    color: var(--ion-color-primary-contrast);
  }

  span {
    font-size: 12px;
    opacity: 0.7;
    color: var(--ion-color-primary-contrast);
  }
}
