ion-tab-bar {
  box-shadow: 0 -4px 10px var(--ion-color-primary);
  border-top: 1px solid var(--ion-color-primary);
}

ion-label {
  color: var(--ion-color-primary, #000);
}

ion-tab-button.tab-selected ion-label {
  text-decoration: underline;
}

ion-badge {
  font-size: 11px;
  position: absolute;
  right: 6px;
}

