ion-tab-bar {
  box-shadow: 0 -4px 10px var(--ion-color-primary);
  border-top: 1px solid var(--ion-color-primary);
}

ion-tab-button {
  --icon-size: 28px;
  font-weight: 600;
}

ion-tab-button:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}
