<ion-tabs class="footer-tabs">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="active">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Active</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="passive">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Passive</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="previous">
      <ion-icon name="play-skip-back-outline"></ion-icon>
      <ion-label>Previous</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
