<div class="background-image">
</div>
<app-header></app-header>
<!--<h2 class="secondary-text">Find friends, join events, and enjoy.</h2>-->
<!--<div class="mission-statement">-->
<!--    <h2 class="motivation-text">make every friday big! </h2>-->
<ion-accordion-group [animated]="true">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Find event</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Filter options</div>
  </ion-accordion>
</ion-accordion-group>
<app-carousel class="carousel"></app-carousel>
<!--</div>-->
