@import 'src/theme/variables.scss';

.home-content {
  &__screen {
    position: relative;
    &_searchbar {
      position: absolute;
      bottom: 26px;
    }
  }
  &__mission-statement {
    position: relative;
    text-align: center;
    &_text {
      color: var(--ion-color-primary);
    }
  }

  &__button-container {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  &__button {
    margin: 0 20px;
    padding: 0 5px;
    border-radius: 20px;
    min-width: 110px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
