@import 'src/theme/variables.scss';

//.motivation-text {
//  color: var(--ion-color-primary-contrast);
//  z-index: 2;
//}

.carousel {
  //width: 100%;
  //text-align: center;
  z-index: 2;
  margin-top: 76%;
}

.background-image {
  position: absolute;
  background-image: url('../../../assets/images/friends1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

::ng-deep .ion-page {
  justify-content: space-around;
}

ion-accordion-group {
  z-index: 2;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

ion-label {
  color: var(--ion-text-color-secondary) !important;
}

ion-accordion-group {
  border: 1px solid var(--ion-text-color-secondary);
}
