<app-header></app-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="home-content__main-message">
    <img class="" src="../../../assets/images/concert.jpg" alt="Concert">
    <h2></h2>
  </div>

  <div class="home-content__mission-statement">
    <h2>Make Every Friday Big!</h2>
    <p class="home-content__mission-statement_text">Find friends, join events, and enjoy.</p>
    <p>Big Friday is all about organizing your free time...</p>

  </div>

  <div class="home-content__button-container">
    <ion-button class="home-content__button" expand="block" routerLink="/events">Active</ion-button>
    <ion-button class="home-content__button home-content__button--hover" expand="block" routerLink="/passive-pastime">Passive</ion-button>
  </div>

</ion-content>
