<ion-content class="form-content">
  <ion-header no-border>
    <ion-toolbar class="custom-toolbar">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="modalCtrl.dismiss()">
          <ion-icon name="close-outline" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Authentication</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="form-container">
    <p class="intro-text" *ngIf="!showLoginForm">
      Are you already registered? Proceed with your credentials or explore as a guest.
    </p>

    <div *ngIf="!showLoginForm">
      <ion-button expand="block" (click)="showLogin()" class="single-btn align-block-center">Enter email and password</ion-button>
      <ion-button expand="block" fill="outline" (click)="continueAsGuest()" class="single-btn align-block-center">Continue as Guest</ion-button>
    </div>

    <app-login-form *ngIf="showLoginForm"></app-login-form>

  </ion-content>
</ion-content>
