/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
@import './theme.scss';
/* Core CSS required for Ionic components to work properly */
@import './theme/variables.scss';

@import "@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

h1, h2, p, span, ion-card-title {
  color: var(--ion-color-secondary-contrast);
}

ion-tab-button {
  --color: var(--ion-color-secondary-contrast);
  --color-selected: var(--ion-color-primary);
}

.primary-color {
  color: var(--ion-color-primary)
}

.d-flex {
  display: flex;
}

.align-block-center {
  margin: 0 auto;
}

.align-center {
  align-items: center;
}

.ml-s {
  margin-left: 5px;
}

.mr-s {
  margin-right: 5px;
}

.secondary-color {
  color: var(--ion-color-light);
}

.activity-icon, {
  font-size: 26px;
  color: var(--ion-color-primary);
  margin-right: 20px;
}

ion-card-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--ion-color-light);
}

.single-btn {
  --background: var(--ion-color-secondary);
  --color: #fff;
  border-radius: 8px;
  margin: 20px auto;
  height: 50px;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
  width: 90%;
  padding: 10px 0;

  &:hover {
    transform: scale(1.05);
    --background: var(--ion-color-secondary-shade);
  }
}

.form-item {
  --background: transparent;
  --color: #fff;
  --border-color: var(--ion-color-primary);
  --placeholder-color: #888;
  width: 100%;

  ion-icon {
    color: var(--ion-color-primary);
    margin-right: 10px;
  }

  &::part(native) {
    border-bottom: 2px solid var(--ion-color-primary);
    width: 90%;
    margin: 0 auto;
  }
}

.alert-wrapper {
  --background: #616568;
}

.alert-radio-label, .alert-checkbox-label {
  color: var(--ion-color-light) !important;
}

.alert-radio-button[aria-checked="true"] .alert-radio-inner {
  --border-color: var(--ion-color-primary) !important;
}

.alert-checkbox-inner {
  border-color: var(--ion-color-light) !important;
}

ion-avatar {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.activity-card {
  background-color: var(--ion-color-dark);
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  align-items: center;
  padding: 5px 20px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  .title {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  .description {
    margin-bottom: 12px;
    font-weight: 600;
  }
}

.form-content {
  --ion-background-color: #1a1a1a;
}

.intro-text {
  font-weight: 500;
  margin: 20px;
  color: var(--ion-color-light);
  text-align: center;
  line-height: 1.4;
}

.custom-toolbar {
  --background: rgba(255, 255, 255, 0.05);
  --color: var(--ion-color-light);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.form-container {
  padding: 20px;
}

ion-popover {
  .popover-content {
    box-shadow: none !important;
    background-color: transparent !important;
  }
}

.settings-dropdown-popover-width {
  --width: 300px;
}
